/*******www.nehrugroup.in*******/
/**********Deepak Raj Priyanshu********/
/************************************/
.nav{
	font-family:Droid Sans;
	text-transform: uppercase;
}
.nav a{
	font-family:Droid Sans;
}

/* navbar */
.navbar-default {
    background-color: #f04949;
    border-color: #f04949;
}
/* title */
.navbar-default .navbar-brand {
    color: #fff;
    font-size:20px;
    font-weight: bold;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #f04949;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #f04949;
}
.navbar-nav li a:first{margin-left: 20%;}
.navbar-nav li a{margin-right: 45%;font-size:1.1em;}
.navbar-nav li a i{margin-right: 10px;}
/*** nav ends here ****/


.form-inline .form-group{
	margin-bottom: 20px;
	float: right;
}
.title{
    text-decoration:underline;
    padding: 10px 5px;
}
.btn-launch,.btn-launch:hover, .btn-launch:active, .btn-launch:focus{
	background-color: #2ecc71;
    border: medium none #2ecc71;
    box-shadow: 0 3px 0 #d35400, 0 5px 2px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 40px;
    margin-top:10%;
}
.bt-login,.bt-login:hover, .bt-login:active, .bt-login:focus {
    background-color: #ff8627;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
    -moz-box-shadow:inset 0px 1px 0px 0px #ff8627;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ff8627;
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
	background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8627', endColorstr='#ff8627',GradientType=0);
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
}


.login-tab {
	margin: 0 auto;
	max-width: 450px;
}

.login-modal-header {
	background: green;
	color: #fff;
}

.login-modal-header .modal-title {
	color: #fff;
}

.login-modal-header .close {
	color:red;
}

.login-modal i {
	color: #000;
}

.login-modal form {
	max-width: 350px;
}

.tab-pane form {
	margin: 0 auto;
}
.login-modal-footer{
	margin-top:15px;
	margin-bottom:15px;
}